<!-- begin: _includes/topnav.html -->
<nav class="main-nav" aria-label="Main menu">
    <ul class="main-menu">
        <li class="top-level-entry-container"><button type="button" id="references-button"
                class="top-level-entry menu-toggle" aria-controls="references-menu"
                aria-haspopup="menu" aria-expanded="false">References</button><a
                class="top-level-entry" href="/en-us/docs/Web">References</a>
            <ul id="references-menu" class="submenu references hidden inline-submenu-lg"
                role="menu" aria-labelledby="references-button">
                <li role="menuitem" class="apis-link-container mobile-only "><a
                        href="/en-us/docs/Web" class="submenu-item " role="menuitem">
                        <div class="submenu-icon"></div>
                        <div class="submenu-content-container">
                            <div class="submenu-item-heading">Overview / Web Technology</div>
                            <p class="submenu-item-description">Web technology reference for
                                developers</p>
                        </div>
                    </a></li>
                <li role="menuitem" class="html-link-container "><a href="/en-us/docs/Web/HTML"
                        class="submenu-item " role="menuitem">
                        <div class="submenu-icon html"></div>
                        <div class="submenu-content-container">
                            <div class="submenu-item-heading">HTML</div>
                            <p class="submenu-item-description">Structure of content on the web
                            </p>
                        </div>
                    </a></li>
                <li role="menuitem" class="css-link-container "><a href="/en-us/docs/Web/CSS"
                        class="submenu-item " role="menuitem">
                        <div class="submenu-icon css"></div>
                        <div class="submenu-content-container">
                            <div class="submenu-item-heading">CSS</div>
                            <p class="submenu-item-description">Code used to describe document
                                style</p>
                        </div>
                    </a></li>
                <li role="menuitem" class="javascript-link-container "><a
                        href="/en-us/docs/Web/JavaScript" class="submenu-item " role="menuitem">
                        <div class="submenu-icon javascript"></div>
                        <div class="submenu-content-container">
                            <div class="submenu-item-heading">JavaScript</div>
                            <p class="submenu-item-description">General-purpose scripting
                                language</p>
                        </div>
                    </a></li>
                <li role="menuitem" class="http-link-container "><a href="/en-us/docs/Web/HTTP"
                        class="submenu-item " role="menuitem">
                        <div class="submenu-icon http"></div>
                        <div class="submenu-content-container">
                            <div class="submenu-item-heading">HTTP</div>
                            <p class="submenu-item-description">Protocol for transmitting web
                                resources</p>
                        </div>
                    </a></li>
                <li role="menuitem" class="apis-link-container "><a href="/en-us/docs/Web/API"
                        class="submenu-item " role="menuitem">
                        <div class="submenu-icon apis"></div>
                        <div class="submenu-content-container">
                            <div class="submenu-item-heading">Web APIs</div>
                            <p class="submenu-item-description">Interfaces for building web
                                applications</p>
                        </div>
                    </a></li>
                <li role="menuitem" class="apis-link-container desktop-only "><a
                        href="/en-us/docs/Web" class="submenu-item " role="menuitem">
                        <div class="submenu-icon"></div>
                        <div class="submenu-content-container">
                            <div class="submenu-item-heading">Web Technology</div>
                            <p class="submenu-item-description">Web technology reference for
                                developers</p>
                        </div>
                    </a></li>
            </ul>
        </li>
        <li class="top-level-entry-container"><button type="button" id="guides-button"
                class="top-level-entry menu-toggle" aria-controls="guides-menu"
                aria-haspopup="menu" aria-expanded="false">Guides</button><a
                class="top-level-entry" href="/en-us/docs/Learn">Guides</a>
            <ul id="guides-menu" class="submenu guides hidden inline-submenu-lg" role="menu"
                aria-labelledby="guides-button">
                <li role="menuitem" class="apis-link-container mobile-only "><a
                        href="/en-us/docs/Learn" class="submenu-item " role="menuitem">
                        <div class="submenu-icon learn"></div>
                        <div class="submenu-content-container">
                            <div class="submenu-item-heading">Overview / MDN Learning Area</div>
                            <p class="submenu-item-description">Learn web development</p>
                        </div>
                    </a></li>
                <li role="menuitem" class="apis-link-container desktop-only "><a
                        href="/en-us/docs/Learn" class="submenu-item " role="menuitem">
                        <div class="submenu-icon learn"></div>
                        <div class="submenu-content-container">
                            <div class="submenu-item-heading">MDN Learning Area</div>
                            <p class="submenu-item-description">Learn web development</p>
                        </div>
                    </a></li>
                <li role="menuitem" class="html-link-container "><a
                        href="/en-us/docs/Learn/HTML" class="submenu-item " role="menuitem">
                        <div class="submenu-icon html"></div>
                        <div class="submenu-content-container">
                            <div class="submenu-item-heading">HTML</div>
                            <p class="submenu-item-description">Learn to structure web content
                                with HTML</p>
                        </div>
                    </a></li>
                <li role="menuitem" class="css-link-container "><a href="/en-us/docs/Learn/CSS"
                        class="submenu-item " role="menuitem">
                        <div class="submenu-icon css"></div>
                        <div class="submenu-content-container">
                            <div class="submenu-item-heading">CSS</div>
                            <p class="submenu-item-description">Learn to style content using CSS
                            </p>
                        </div>
                    </a></li>
                <li role="menuitem" class="javascript-link-container "><a
                        href="/en-us/docs/Learn/JavaScript" class="submenu-item "
                        role="menuitem">
                        <div class="submenu-icon javascript"></div>
                        <div class="submenu-content-container">
                            <div class="submenu-item-heading">JavaScript</div>
                            <p class="submenu-item-description">Learn to run scripts in the
                                browser</p>
                        </div>
                    </a></li>
                <li role="menuitem" class=" "><a href="/en-us/docs/Web/Accessibility"
                        class="submenu-item " role="menuitem">
                        <div class="submenu-icon"></div>
                        <div class="submenu-content-container">
                            <div class="submenu-item-heading">Accessibility</div>
                            <p class="submenu-item-description">Learn to make the web accessible
                                to all</p>
                        </div>
                    </a></li>
            </ul>
        </li>
        <li class="top-level-entry-container"><button type="button" id="mdn-plus-button"
                class="top-level-entry menu-toggle" aria-controls="mdn-plus-menu"
                aria-haspopup="menu" aria-expanded="false">MDN Plus</button><a
                class="top-level-entry" href="/en-us/plus">MDN Plus</a>
            <ul id="mdn-plus-menu" class="submenu mdn-plus hidden inline-submenu-lg" role="menu"
                aria-labelledby="mdn-plus-button">
                <li role="menuitem" class="mobile-only "><a href="/en-us/plus"
                        class="submenu-item " role="menuitem">
                        <div class="submenu-icon"></div>
                        <div class="submenu-content-container">
                            <div class="submenu-item-heading">Overview</div>
                            <p class="submenu-item-description">More MDN. Your MDN.</p>
                        </div>
                    </a></li>
                <li role="menuitem" class=" "><a href="/en-US/plus/docs/faq"
                        class="submenu-item " role="menuitem">
                        <div class="submenu-icon"></div>
                        <div class="submenu-content-container">
                            <div class="submenu-item-heading">FAQ</div>
                            <p class="submenu-item-description">Frequently asked questions about
                                MDN Plus</p>
                        </div>
                    </a></li>
            </ul>
        </li>
    </ul>
</nav>