<!-- begin: _includes/search/header.html -->
<div class="header-search">
    <form action="/en-us/search" role="search" aria-haspopup="listbox"
        aria-owns="top-nav-search-menu" aria-expanded="false" class="search-form search-widget"
        id="top-nav-search-form"><label id="top-nav-search-label" for="top-nav-search-input"
            class="visually-hidden">Search MDN</label><input id="top-nav-search-input"
            aria-autocomplete="list" aria-controls="top-nav-search-menu"
            aria-labelledby="top-nav-search-label" autocomplete="off" type="search"
            class="search-input-field" name="q" placeholder="   " required="" value=""><button
            type="button" class="button action has-icon clear-search-button"><span
                class="button-wrap"><span class="icon icon-cancel "></span><span
                    class="visually-hidden">Clear search input</span></span></button><button
            type="submit" class="button action has-icon search-button"><span
                class="button-wrap"><span class="icon icon-search "></span><span
                    class="visually-hidden">Search</span></span></button>
        <div id="top-nav-search-menu" role="listbox" aria-labelledby="top-nav-search-label">
        </div>
    </form>
</div>
<!-- end: _includes/search/header.html -->