.article h1 {
    padding: 24px 0 8px;
}

.project > .banner {
  display: none;
}

.article blockquote {
    background-color: rgba(54,117,136,0.1);
    border: 2px solid rgba(54,117,136,1.0);
    border-radius: 6px;
    color: teal;
    margin-top: 22px;
    padding: 4px;
}

.article blockquote p:first-child {
    margin-top: 0;
}

.article pre code {
    background-color: #f2f2f2;
}

@media only screen and (min-width: 720px)
{
    .article pre {
        padding: 8px 1.5rem;
    }
}

img {
    border: 1px solid #404040;
}

.admonition.warn {
    background: #f0ad4e;
}

.admonition.info {
    background: #5bc0de;
}

.adminition.tip {
    background: #5cb85c;
}

.admonition.danger {
    background: #d9534f;
}

.article ol li .admonition p {
    display: block;
}

.admonition code {
    background: transparent;
    color: #808080;
}

.admonition p {
    margin-top: 0.5rem;
}