/*
** CSS for the Home Page
*/

.layout--home {
    background-image: url('banner.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layout--home .top-banner {
    margin-top: 10rem;
    font-family: Poppins, sans-serif;
    color: white;
}

.layout--home .top-banner > h1 {
    font-size: 64px;
}

.layout--home .top-banner > p {
    font-size: 28px;
    width: 75%;
}

.layout--home .top-banner .action-button-area {
    width: 75%;
}

.action-button-area .md-button {
    background-color: white;
    border-radius: 24px;
    color: black;
    padding: 4px 30px;
    font-size: 24px;
}

.action-button-area svg {
    height: 28px;
    position: relative;
    top: 4px;
    width: 28px;
}
