{% extends "base.html" %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ '_extras/home.css' | url }}"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block tabs %}
<section class="layout--home">
    <div class="md-grid top-banner">
        <h1>{{ page.title }}</h1>
        <p>{{ config.site_description }}</p>
        <div class="action-button-area">
            {{ page.content }}
        </div>
    </div>
</section>
{% endblock %}

{% block toc %}
{% endblock %}

{% block site_nav %}
{% endblock %}

{% block content %}
{% endblock %}