<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: 'en' }}" prefix="og: https://ogp.me/ns#" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% include head/favicon.html %}
        {% include head/seo.html %}
        {% include head/stylesheets.html %}
        {% include head/scripts.html %}
    </head>
    <body>
        <div id="root">
            <div class="page-wrapper category-{{ page.category | default: layout.category | default: layout.layout }} {{ page.pagetype | default: layout.pagetype | default: 'document' }}-page">
                {{ content }}
            </div>
        </div>
    </body>
</html>