<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: 'en' }}" prefix="og: https://ogp.me/ns#" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% include head/favicon.html %}
        {% include head/seo.html %}
        {% include head/stylesheets.html %}
        {% include head/scripts.html %}
    </head>
    <body class="d-flex flex-column h-100">
        {% include header.html %}
        <main id="content">
            {{ content }}
        </main>
        {% include body/scripts.html %}
    </body>
</html>