@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JQuery</title>
    <link rel="stylesheet" href="~/Content/spa/jquery/application.css"/>
</head>
<body>
    <div id="wrapper">
        <article>
            <header>
                <h2>Azure</h2>
                <h1>Mobile Apps</h1>
                <form id="add-item">
                    <button type="submit" id="refresh">Refresh</button>
                    <button type="submit">Add</button>
                    <div>
                        <input type="text" id="new-item-text" placeholder="Enter new task"/>
                    </div>
                </form>
            </header>
            <ul id="todo-items"></ul>
            <p id="summary">Initializing...</p>
        </article>
        <footer>
            <ul id="errorlog"></ul>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://zumo.blob.core.windows.net/sdk/azure-mobile-apps-client.min.js"></script>
    <script src="~/Content/spa/jquery/application.js"></script>
</body>
</html>
